body {
    margin: 20px;
}

.build span {
    border-radius: 3px;
    border: 1px lightgrey solid;
    padding: 0 3px;
}
span.created {
    background-color: cyan;
}

span.started {
    background-color: lightgreen;
}