h1 {
  width: 100%;
}
table#status, table#dev {
  width: 100%;
}
div.error {
  background-color: #f2dede;
}
#overall-status {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 200px;
  border: solid red 3px;
  border-radius: 5px;
}
.etabs { 
  margin: 3px 0 0 5px;
  padding: 0;
  border-bottom: solid 1px #DDD;
}
.tab { 
  display: inline-block; zoom:1; 
  *display:inline; 
  background: #eee; 
  border: solid 1px #CCC; 
  border-bottom: none; 
}
.tab a { 
  font-size: 14px; 
  line-height: 2em; 
  display: block; 
  padding: 0 10px; 
  outline: none; 
}
.tab a:hover { 
  text-decoration: underline; 
}
.tab.active { 
  background: #fff; 
  padding-top: 6px; 
  position: relative; 
  top: 1px; 
  border-color: #EEE; 
}
.tab a.active { font-weight: bold; }
.tab-container .panel-container { 
  background: #fff; 
  border: solid #666 1px; 
  padding: 10px; 
}
.right {
  text-align: right !important;
}
.hidden {
  display: none;
}