
table#status, table#dev {
  width: 100%;
}
h1 {
    padding: 0;
    margin: 0;
}
div.error {
  background-color: #f2dede;
}

#powered-by {
    position: absolute;
    top: 5px;
    left: 5px;
}

.etabs { 
  padding: 0;
  border-bottom: solid 1px #DDD;
}
.tab { 
  display: inline-block; zoom:1;
  background: #eee; 
  border: solid 1px #CCC; 
  border-bottom: none; 
}
.tab a { 
  font-size:14px;
  line-height: 2em; 
  display: block; 
  padding: 0 10px; 
  outline: none; 
}
.tab a:hover { 
  text-decoration: underline; 
}
.tab.active { 
  background: #fff;
  padding-top: 6px;
  position: relative;
  top: 1px;
  border-color: #ccc;
}
.tab a.active { font-weight: bold; }
.tab-container .panel-container { 
  background: #fff; 
  border: solid #666 1px; 
  padding: 10px; 
}
.right {
  text-align: right !important;
}
.hidden {
  display: none;
}
.server-status {
  float:right;
}
.popover {
  max-width:500px;
}

.monitor h3 {
  line-height:1.2em;
}

.travis {
  margin-left:10px;
}

.travis img {
  vertical-align:top;
}
ul#page-links {
    margin: -20px 0 0 0;
    padding: 0;
    list-style-type: none;
}
ul#page-links li {
    display: inline;
    padding-bottom:5px;
    text-align:left;
    display: inline;
}