<!DOCTYPE html>
<html>
<head>
    <title>NuPIC Travis-CI Builds</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/nupic.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>Numenta OS Builds</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="running_builds"></div>
        </div>
    </div>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.1.2.js"></script>
<script src="/js/lib/async.js"></script>
<script src="/js/lib/moment.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/monitors.js"></script>

</body>
</html>
