<!DOCTYPE html>
<html>
  <head>
    <title>NuPIC Wallboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.1.2.js"></script>
    <script src="/js/lib/async.js"></script>
    <script src="/js/lib/moment.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="js/monitors.js"></script>

    <section id="monitors">
      <table><tbody>
        <tr><td colspan="3">
          <h1 class="text-center">nupic wallboard</h1>
        </td></tr>
        <tr>
          <td style="vertical-align:top">
            <div id="nupic_travis_latest"></div>
            <div id="experiments_travis_latest"></div>
            <div id="tools_travis_latest"></div>
          </td>
          <td style="vertical-align:top">
            <div id="nupic_travis_builds"></div>
            <div id="nupic_travis_pr_builds"></div>
          </td>
          <td style="vertical-align:top">
            <div id="github_status"></div>
            <div id="travis_status"></div>
            <div id="numenta_org_status"></div>
            <div id="doc_build_status"></div>
          </td>
        </tr>
      </tbody></table>

    </section>

  </body>
</html>